* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    
    /* background-color: rgb(230, 247, 247); */
}
/* .page{
    width:100%;
    height: 100%;
    /* background-image: url(sliderBackground.png); */
    /* background-color: #247cff; */
/* } */ */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.navBar {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    margin-top: 0px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 5%);
    

}

.contactBar {
    color: #484848;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    border-bottom: 1px solid #484848;
}
.personalDetails {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 25PX;

}
.parentHelpdesk {
    height: 100%;
    width: 150px;
    background-color:white;
    color: #247cff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.personalDetails i {
    color: #247cff;
    
}
.socialLinks {
    width: 40%;
    height: 95%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: px;
    /* background-color: #4a85de; */
    margin-right: 55px;
    
}

.social>ul>li {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    background-color: #deebff;
    color: #247cff;
    cursor: pointer;
  
}
.social>ul>li:hover {
    background-color: #247cff;
    color: white;
}
.follow{
    margin-right: 10px;
}
.navBar h1{
    font-size: 15px;

}
.mobileNo {
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.email {
    gap: 10px;
    align-items: center;
    display: flex;
    cursor: pointer;
}
.menuBar {
    display: block;
    height: 60px;
    display: flex;
}
.logo {
    height: 100%;
    width: 25%;
}
.menuItems {
    height: 100%;
    width: 50%;
}
.contact {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 55px;
}

.contact span{
    height: 40px;
    width: 140px;
    background-color:whitesmoke;
    color:#247cff ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
   height: 300px;   
   width: 250px;
}

.menuItems{
     display: flex;
     align-items: center;
     justify-content: center;
}

.menuItems ul{
    gap: 31px;
    display: flex;
}

.contact span:hover{
    background-color: #247cff;
    color: white;
    border:2px solid #deebff;
}

.social ul:hover{
    color: #247cff;
}

.parent1{
     width: 100%; 
    height: 450px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(sliderBackground.png);
    background-size: contain;
    /* background-color: #007Bff; */
}
.hedding {
    color: #247cff;
}


.parent{
    background-color: white;
    width:80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    /* border: solid; */
    margin-top: -70px;
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 10%);
}
  .list1{
   /* background-color: #247cff; */
    width: 100%;
    height: 90%;
    flex-wrap: wrap; 
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    display: flex;
    padding-top: 10px;
    
}


input{
    width: 31%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(255, 249, 249);
    

}
input:hover{
    border:1px solid #247cff;
    
}
.last {
    /* background-color: yellow; */
    width:670px;
}
.chart{
   
}
.name{
    padding: 100px;
    margin-left: 40px;
}
.name h1{
    /* background-color: #a2a3a4; */
    height: 100px;
    width: 500px;
}
.name p{
    /* background-color: #003078; */
    width: 400px;
    font-weight: bold;
    color: blue;
}
.img{
    /* background-color: #247cff; */
    height: 400px;
    width: 100%;
    display: flex;

}
.men{
    margin-top: 100px;
}
#B{
    height: 300px;
    /* background-color: rgb(19, 16, 16); */
    margin-left:-70px;
}
.img1 img{
    margin-left: 50px;
}
.A{

    /* background-color: red; */
    margin-top: -180px;
    margin-left: -50px;
}
.buttonparent{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 1020px;
    /* background-color: #484848; */
  

}
.button{
    background-color:rgb(255, 249, 249);
    height: 70px;
    width:310px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid red;
    
    
    
    
}
.button input{
    height: 30px;
    
    
}
.robot{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #247cff; */
    width: 60%;
}
.terms{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.terms img{
height: 40px;

}
.terms p{
font-size: 10px;
}
.buttonlast{
    height: 50px;
    width: 140px;
        background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    color: white;


}
.buttonlast:hover{
    background-color:white;
    border: 1px solid blue;
    color:blue;
    
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.second{
    background-color:white;
    width: 100%;
    height: 1170px;
    text-align: center;
    padding: 50px;
}
.second p{
    margin-top: 20px;
}
.second h3{
    color: #247cff;
}
.second h1{
    color: #1f3362;
}
 .list2{ 
    display: flex;
    justify-content: center;
    padding: 50px;
    column-gap: 20px;
    cursor: pointer;

}
.list2 h2{
    border: 1px solid blue;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 21px;
    color: white;
    background-color: #247cff   ;
}

.list2 h3{
    border: 1px solid blue;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.list2 h3:hover{
    background-color: #247cff;
    color: white;
    
}
.list2 h4{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0px;
    color: #247cff;
    font-size: 20px;
}
.list2 h4:hover{
    background-color: #247cff;
    color: white;
}
.card{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: -25px;
    border-color: 1px solid #9ea0a4;
    /* background-color: red; */
    width: 100%;
    height: auto;
}

.card1{
    height: 220px;
    width: 270px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex; 
    flex-wrap: wrap;
    /* border: 4px solid; */
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);

}
.card1:hover{
    border: 1px solid #247cff;
   margin-top: -3px;
}
.Card1{
    width: 100%;
    height: 100px;
    /* border: solid;  */
    display: flex;
    margin-left: 15px;
    gap: 10px;
   align-items: center;
}
.Card1 img{
    width: 65px;

}


.card h4{
margin-left: 20px;

}
.card2{
    width: 100%;
    height: 40%;
    /* border: solid;  */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.cadr2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 p{
    width: 95%;
    margin-top: -30px;
    font-size: 15px;
    color: grey;
     margin-left: 20px;
    text-align: left;
      
    /* background-color: #deebff; */
} 
.span{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    /* height: 100%; */
    width: 100%;
    /* background-color: #247cff; */
    color: #247cff;
     padding: 15px;
     margin-top: -20px;

}
.span i{
    font-size: 20px;
}
.container{
    width: 100%;
    height: 75%;
    background-color: white;
   
  
  }
  .container21 h4{
    border: none;
    width: 300px;
    pointer-events: none;
  }
  .container21 h2{
margin-right: 50px;
  }
  .homework{
    /* background-color: rgb(222, 54, 54); */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-a;
    align-items: center;
    margin-right:90px;
    padding-bottom: 60px;

    
  }
  .mobailimg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
    margin-top: -50px;
  }
  .mobailimg{


  }
  
.back{
    margin-left: -410px;
    margin-top: 30px;
    /* background-color: #247cff; */
  }
  

  
  .alert{
    margin-left: -500px;
    margin-top: -120px;
  
  }
  .alert>img{
    width: 330px;
    height: 180px;

  }
  .HOM{
    margin-top: 300px;
    margin-left: -10px;
  
  }
  .HOM >img{
width: 300px;
  }
  .LETS{
   margin-left: -510px;
   margin-top: 450px;
  
  }
  .point{
    margin-left: 825px;
    margin-bottom: -400px;
  }
  .container2{
    background-color:white;
    width: 50%;
    height: 70%;
    /* border:solid; */
    display: flex;
    flex-direction: column;
      margin-top: -70px;
  }
  .container21{
    width: 60%;
    height: 50%;
    /* border:solid;  */
  margin-top: -580px;
  margin-left: 670px;
    
  }
  .container21 h4 ,h2{
    line-height: 35px;
    font-weight: bold;
  }
  .container21 h4 
  {
    font-size: 20px;
    color: #247cff;
  }
  .container21 h2 {
    color: #003078;
    font-size: 35px;
    line-height: 45px;
  
  }
  .container21 p{
    color: gray;
    font-size: 16px;
    margin-top: -10px;
  }
  .google{
    width: 100%;
    height: 80px;
     /* border: solid;   */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 45px;
  
  }
  .g1{
    width: 210px;
    /* border: solid; */
    display: flex;
    justify-content: flex-start;
  
  }
  .g1>img{
    width: 160px;
    margin-top:-20px;
  
  }
  
.thard{
    background-color:#e8f2ff;
    height: 800px;
    width: 100%;
}
.list{
  
    text-align: center;
    padding: 50px;
}
.list h3{
    color: #247cff;
}
.list p{
margin-top: 20px;
color: rgb(78, 76, 76);
}
.list3{
    font-size: 20px;
    display: flex;
    height: 40px;
    width: 100%;
    /* background-color: #165ac0; */
    justify-content: center;
    gap: 70px;
    cursor: pointer;
}
.list3 p:hover{
    border-bottom:3px solid blue;
    gap: 50px;
}
.list3 p{
/* background-color: #247cff; */
height: 36px;
width: 200px;
color: blue;
text-align: center;
font-weight: bold;

}





.mahesh{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 400px;
     background-color:#e8f2ff;
     overflow:auto;
    /* border-bottom: 5px solid white; */
   
  }
   .mahesh::-webkit-scrollbar{
     display:none;
   } 
  .hr1{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    height: 5px;
    width: 100%;
    
  }
  .hr{
  background-color: white;
  height: 5px;
    width: 50%;
    overflow: auto;
  }
  .circle{
  
    width: 90%;
    height: 400px;
    /* background-color: yellow; */
    
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
     flex-direction: column; 
   
    
  
  }
  .circlebox1{
    width: 90%;
    height: 50%;
    /* background-color: aqua; */
     display: flex;
     justify-content: flex-start;
     align-items: center;
     border-radius: 5px solid black;
      gap: 20px; 
    
   } 
  .circle1{
    width: 120px;
    height: 120px;
    /* background-color: peru; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 3px dashed black;
  }
  .circle11{
    width: 90%;
    height: 90%;
    background-color:rgb(70, 70, 107);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  .circle12{
    width: 75%;
    height: 75%;
    background-color:white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mk{
    width: 130px;
  }
  
  .ka{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
  }
  
  .kale{
    width: 150px;
  }
  .circlebox2{
    width: 100%;
    height: 50%;
    background-color: darkred;
  }
  .thardlast{
    display: flex;
    justify-content: center;
  }







  
  .fore{
  width: 100%;
  height: 1000px;
  background-color: white;
  display: flex;
  justify-content:center ;
  flex-direction: column;
  margin-top: 100px;
 
   /* padding-top: 200px; */
  }
  
  .list4home{
    display: flex;
    justify-content: center;
    /* padding: 100px; */
  }
  .list4{
  /* background-color: rgb(193, 26, 26); */
  width: 75%;
  height: 200px;
  margin-top: -200px;
  display: flex;
   flex-direction: column;
  gap: 5px;
  
 
  }
.list4 h4{
color: #247cff;
text-align: center;
}
.list4 h1{
    text-align: center;
}
.list4{
color: #1f3362;
}
.list4 p{
color: gray;
font-size: 15px;
display: flex;
line-height: 25PX; 
text-align: center;
justify-content: center;
}
.card3{
    width: 80%;
    height: 120px;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 0  10px rgb(0 0 0 / 10%);
     
   
}
/* .card3:hover{
    border-bottom: 5px solid blue;
    /* gap: 50px; */
   
/* } */ */
.commu{
    margin-left: 18px;
}
.cardhome {
    display: flex;
    justify-content: center;

   
    
}

.card3 img{
   margin-left: 15px;
   color: gray;
}
.imghome p:hover{
   
}
.gole{
    position: absolute;
    /* background-color: #247cff */
    overflow: hidden;
    width: 150px;
    margin-top: -280px;
    
    
}
.gole1{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
   /* background-color: #deebff;
   height: 300px; */
    z-index: 2;
}
.user1{
    width: 40%;
     height: 250px;
    /* background-color: #247cff; */
    padding: 20px;
    box-shadow: -35px 15px 34px 0 rgb(0 0 0 / 7%);
    border-radius: 20px 0 0 20px;
}
.user1 p{
    margin-top: 10px;
    margin-bottom: 20px;
    color: gray ;
}
.user1 h1{
    color: #1f3362;
}
.user1 h4{
color: #247cff;
}
.user2{
    width: 40%;
    height: 400px;
    /* background-color: #247cff; */
    padding-left: 100px;
}
.user2 img{
    height:500px ;
    margin-top: -70px;
    
}
.user{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
   
}
.leanding{
width: 100%;
height: 450px;
background-color:  #e8f2ff ;
margin-top: -120px;
text-align: center;
display: flex;
justify-content: center;
flex-direction: column;

}
.symbol img{
    height: 150px;
    width: 150px;
    /* background-color: #247cff; */
    

}
.serve{
    height: 240px;
    width: 80%;
    display: flex;
    justify-content: center;
    /* background-color: #4987d7; */
    overflow: auto;
    padding-left: 250px;
}
.symbol{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: #247cff;/ */
}
.serve::-webkit-scrollbar{
    display: none;
}
.symbol h4{
    /* background-color: aqua; */
    display: flex;
    width: 230px;

}
.symbol p{
    /* background-color: #484848; */
    width: 150px;
    
}
.symbolhome{
    height: 200px;
    width: 80%;
   display: flex;
   justify-content: center;width: 100%;
   background-color: #e8f2ff;
    margin-top: 50px;
}

.academy{
    margin-left: -35px;
}
.leader{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leader h4{
    color: #007Bff;
}
.leader h1{
    color: #003078;
}
.leader p{
    color: gray;
}
.battle{
    width: 40%;
    height: 150px;
    /* background-color: red; */
}
.winning{
    width: 40%;
    height: 400px;
    /* background-color: rgb(41, 35, 35);  */
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
}
.winning1 img{
height: 350px;
/* background-color:rgb(109, 40, 40); */
z-index: 1;
animation-name: Dj;
animation-duration: 10s;
animation-iteration-count: infinite;
}
@keyframes Dj{
  to{
    transform: rotate(360deg);

  }
  from {
    transform: rotate(0deg);

  }
}
.talking{
display: flex;
align-items: flex-start;
position: relative;
left: -110px;
z-index: 1;
}
.talking img{
    /* background-color:white; */
    width: 700px;
    height: 400px;
    display: flex;
    left: 200px;
    margin-top: -360px;
    z-index: -1;
}



.cardextra{
    width: 100%;
    height: 500px;
    background-color:#f1f7ff !important;
    ; 
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .cardextra2{
    width: 65%;
    height: 550px;
    /* background-color:teal; */
    display: flex;
    align-items: center;
    
    }
    .cardextra2mk{
      height: 500px;
      width: 100%;
    /* background-color: red; */
      display: flex;
      justify-content:center ;
      align-items: center;
      gap: 35px;
       overflow: auto;
       padding-left: 820px;
    
    }
    .cardextra2mk::-webkit-scrollbar{
      display: none;
     } 
    .cardextra21{
    width: 400px;
    height: 350px;
    background-color:blue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 20px;
    
    }
    .cardextra211{
    width: 400px;
    height: 345px;
    background-color:white;
    border-radius: 20px;
    
    }
    .vk{
    width: 120px;
    height: 120px;
    background-color:white;
    border-radius: 50%;
    margin-top: -70px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .vk img{
    width:120px ;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    /* background-color: #247cff; */
    }
    .vk1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -25px;
    }
    .vk11{
    font-size: 14px;
    color: #007Bff;
    margin-left: 250px;
    }
    .vk111{
      width: 290px;
     
      
    }
    .vk1 h5{
    color: #003078;
    font-size: 20px;
    line-height: 35px;
    font-family:Segoe; 
    letter-spacing: -1px;
    margin-top: 15px;
    margin-left: -45px;
    
    }
    .vk1 p{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
      margin-top: 10px;
      font-size: 15px; 
      color: grey;
       margin-left: -10px;
       text-align: left; 
    }
    .cardextra1{
      width: 35%;
      height: 550px;
      /* background-color: aqua; */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: start;
      
      }
      .cardextramk1{
       display: flex;
       align-items: flex-start;
       flex-direction: column;
        width: 60%;
        height: 290px;
        /* background-color: #007; */
       line-height: 25PX;
      }
      .cardextra1 h3{
        color: #247cff;
      
        
        
      }
      .cardextra1 h2{
      color: #003078;
      font-size: 36px;
      line-height: 35px;
     font-family:SegoeSemiBold !important; 
     margin-top: 15PX;
    
      }
      .cardextra1 p{
         width: 350px; 
    
        text-align: start;
        margin-top: 15PX; 
      }
      .lessthan{
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        align-items: flex-end;
        width: 450px;
        height: 40px;
         /* background-color: rebeccapurple;  */
     }
      .lessthan i{
       background-color: #bfc4cb;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border:none;
    }
    .lessthan i:hover{
        background-color: #007Bff;
        color: white;
    }


    .information{
        height: 820px;
        width: 100%;
         /* background-color: aquamarine; */
        
        
      }
      .helpdesk{
        height: 800px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 13px;
        margin-top: 20px;
        
      }
      
      .maincard{
        height: 530px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
      }
      
      .bluecard{
        background-color: #247cff;
        height: 500px;
        width: 40%;
        padding: 20px;
        border-radius: 10px 0px 0px 10px ;
      }
      
      .pr{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
      
      }
        
      .callcircle{ 
        display: flex;
        align-items: center;
        gap: 10px;
      }
      
      .callcircle img{
        width: 20px;
      }
      
       .mailcircle{ 
        display: flex;
        align-items: center;
        gap: 10px;
       }
      .office{
        padding-bottom: 10px;
      }
       
      
      .office1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 20px;
      }
      .map{
        display: flex;
        gap: 10px;
      
        
      }
      .coporate{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .off{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
      }
      
      .mail{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
      
      }
      
      .call{
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
      }
      
      
      
      .cardimg1{
        background-color: #484848;
        height: 500px;
      width:40%;
      border-radius: 0px 10px 10px 0px;
      
      }
     .cardimg1 img{
        height: 500px;
        width: 100%;
        border-radius: 0px 10px 10px 0px;
     } .branch{
        height: 300px;
        width: 80%;
         /* background-color:rgb(185, 54, 54); */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 30px;
        
      }
      .pune{
        background-color:white ;
        height: 200px;
        width: 50%;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 20px #70AAFF3B;
        
      }
      
      .luknow{
        background-color:white ;
        height: 200px;
        width: 50%;
        padding: 20px;
        border-radius:10px;
        box-shadow: 4px 4px 20px #70AAFF3B;
      }
.sale{
    width: 100%;
    height: 150px;
    background-color: #247cff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.saleshome{
    width: 80%;
    height: 150px;
    /* background-color: #a0aab9; */
    display: flex;
    align-items: center;
    /* padding: 50px; */
    margin-top: 20px;
}

.sales{
   
    display: flex;
    flex-direction: column;
    line-height: 25px;
   margin-left: 15px;
}
.sales h3{
    color:#d1dbe7 ;
}
.sales p{
    color: white;
    font-size: 25px;
    /* background-color: #007Bff; */
    width: 450px;
}

.callimg img{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    
}
.talk{
    width: 200px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;color: #247cff;
    border-radius: 50px;
    
}
.talkhome{
    width: 650px;
    display: flex;
    justify-content: flex-end;
}
.talk:hover{
    color: white;
    background-color: #247cff;
    border: 1px solid white
}
.all{
  display: flex;
  /* align-items: center; */
  justify-content: center;
 
  width: 100%;
  height: 360px;
  /* background-color: brown; */
}
.lasto{
  width: 100%;
  height: 360px;
  /* background-color: #9c9c9c; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.home1{
  width: 80%;
  height: 22x5px;
  /* background-color: rgb(147, 43, 43);  */
   display:flex ;
  justify-content: space-evenly;

}
.last1{
  width: 250px;
  height: fit-content;
  
  /* background-color: #b5bdc5; */
}
.last1 p{
padding-top: 20px;
}

.last1 img{
height: 50px;
}
.last3 h4{
  color:#999 ; 
}

.last2 p:hover{
  color: #007Bff ;
}
.last2 p{
  line-height: 40px;
}
.last2{
  padding-top: 20px;
}
.last3 p{
  line-height: 40px;
}
.second1{
  width: 80%;
  /* background-color: darkgoldenrod; */
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
 .lastdiv{
  text-align: start;
  display: flex;
  justify-content: space-between;
  /* background-color: #007Bff; */
  width: 1100px;
  height: 50px;
  display: flex;
  align-items: center;
}
.lastdiv1{
  display: flex;
  /* background-color: #007Bff; */
  align-items: center;
  height: 100px;
  
} 

.menuIcon i{
  display: none;
  
}




@media screen and (max-width:600px){

  .navBar{
    width: 100%;
  }
  .contactBar{
    display: none;
  }

  .menuItems{
    display: none;
  }

  .contact{
    display: none;
  }

  .menuBar{
    height: 180px;
    width: 100%;
  }


  .logo img{
    height: 300px;
  }

  .menuIcon i{
    font-size: 100px;
    display: block;
    
  }
  .menuBar{
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
  }


  .img{
    flex-direction: column;
    width: 100%;
    background-color: #007Bff;
  }
  .men{
    width: 100%;
  }
}
